@model IEnumerable<Laba5.Storage.Entity.Store>

@{
    ViewData["Title"] = "ShowStore";
}

<h1>Stores</h1>

<p>
    <a asp-action="CreateStore">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainStore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainStore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.Name)
            </td>
            <td>
                <a asp-action="EditStore" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="DetailsStore" asp-route-id="@item.Id">Details</a> 
                <a asp-action="DeleteStore" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
