@using ООП_л3.Models
@model Calc8bit
@{
    ViewData["Title"] = "CalcPage";
}


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calc</title>
</head>
<body>
    <h1> Калькулятор </h1>
    @using (Html.BeginForm("Calc8bitPage", "Calc8bit", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.LabelFor(m => m.NumberA) @Html.TextBoxFor(x => x.NumberA)<br />
        @Html.LabelFor(m => m.NumberB) @Html.TextBoxFor(x => x.NumberB)<br />
        @Html.LabelFor(m => m.Result) @Html.TextBoxFor(x => x.Result)<br />
        @Html.DropDownListFor(m => m.OperationType8bit, (Html.GetEnumSelectList(typeof(OperationType8bit))))
        @Html.DropDownListFor(m => m.SystemNum, (Html.GetEnumSelectList(typeof(SystemNum))))
        <input type="submit" />
    }

    <div>
        @Html.ActionLink("Откат", "MainPage", "Calc")
    </div>

</body>
</html>

