@model IEnumerable<Laba5.Storage.Entity.TypeProduct>

@{
    ViewData["Title"] = "ShowTypeProduct";
}

<h1>Type Products</h1>

<p>
    <a asp-action="CreateTypeProduct">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditTypeProduct" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DetailsTypeProduct" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteTypeProduct" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
